<div> 
<semantic-table 
      query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
						 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 				 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

					 	 SELECT distinct ?provider ?image  WHERE 
						{
              
              <{{value.binding.graph.value}}> <https://pharos.artresearch.net/custom/has_provider> ?provider . 
              ?provider <https://pharos.artresearch.net/custom/has_image> ?image
             
            }' 
            options='{"showFilter": false, "showTableHeading": false}'
      tuple-template='{{> tupleTemplate}}'
>
  <template id='tupleTemplate'>
    <semantic-link uri="{{provider.value}}" guess-repository=false>
    <img src="{{image.value}}" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
  </template>
</semantic-table> 
</div>