      <div data-flex-layout="column center-center">   
<h4><b>Artworks per Provider</b></h4>  
        </div>
<mp-component-toolbar>
    <mp-component-toolbar-actions>
      <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
    </mp-component-toolbar-actions>
    <mp-component-toolbar-component>
      <semantic-chart
        type = 'pie'
        query='
 
          SELECT * WHERE {
            VALUES (?person ?count)
            {
              (<https://pharos.artresearch.net/resource/villaitatti/source/522F1465-3EB6-3399-BF75-71880225CECF> 75786)
              (<https://pharos.artresearch.net/resource/frick/source/DC39276C-638D-3D19-87B1-569DF8193B34> 199702)
							(<https://pharos.artresearch.net/resource/hertziana/source/C0E1A7B8-D249-3D0E-88C5-8FD265F000AA> 106340)
              (<https://pharos.artresearch.net/resource/zeri/source/BE1153E1-A9C7-3A2B-B3C1-5EED24ED1531> 81009)
              (<https://pharos.artresearch.net/resource/marburg/source/FD3EBB9F-41F9-3036-9BA5-791051BC5749> 211861)
              (<https://pharos.artresearch.net/resource/KHI/source/07BA34AD-F580-3D38-ADBE-F9BF8E322D20> 98948)
            }
          } ORDER BY DESC(?count)'
        sets='[{"dataSetName": "Works", "category": "person", "value": "count"}]'>
      </semantic-chart>
    </mp-component-toolbar-component>
  </mp-component-toolbar>
<br/>
<br/>
      <div data-flex-layout="column center-center">   
<h4><b>Photos per Provider</b></h4>  
        </div>

<mp-component-toolbar>
    <mp-component-toolbar-actions>
      <semantic-chart-type-selector default="donut" types='["line", "bar", "radar", "pie", "donut"]' />
    </mp-component-toolbar-actions>
    <mp-component-toolbar-component>
      <semantic-chart
        type = 'pie'
        query='
 
          SELECT * WHERE {
            VALUES (?person ?count)
            {
               (<https://pharos.artresearch.net/resource/villaitatti/source/522F1465-3EB6-3399-BF75-71880225CECF> 27529)
              (<https://pharos.artresearch.net/resource/frick/source/DC39276C-638D-3D19-87B1-569DF8193B34> 364944)
							(<https://pharos.artresearch.net/resource/hertziana/source/C0E1A7B8-D249-3D0E-88C5-8FD265F000AA> 218510)
               (<https://pharos.artresearch.net/resource/zeri/source/BE1153E1-A9C7-3A2B-B3C1-5EED24ED1531> 114229)
              (<https://pharos.artresearch.net/resource/marburg/source/FD3EBB9F-41F9-3036-9BA5-791051BC5749> 406136)
              (<https://pharos.artresearch.net/resource/KHI/source/07BA34AD-F580-3D38-ADBE-F9BF8E322D20> 69183)
            }
          } ORDER BY DESC(?count)'
        sets='[{"dataSetName": "Photos", "category": "person", "value": "count"}]'>
      </semantic-chart>
    </mp-component-toolbar-component>
  </mp-component-toolbar>
