<style>
  .component-page-toolbar{
    display: none;
  }
</style>
  <div data-flex-layout="column center-center">   
	<h2>Welcome to Pharos Digital Collections</h2>
  Includes information on: <br/>
  <p><b>769,985</b> Artworks</p>
  <p><b>10,551</b> Builtworks</p>
  <p><b>890,562</b> Photographs</p>
  <p><b>769,985</b> Artists</p>
  <p><b>2,704</b> Collections</p>
 </div>
<div style="margin-top:10px;">
    <div data-flex-layout="column center-center">   
      [[> mpp:SimpleSearchInclude searchPlaceholder="SEARCH PHAROS NOW - Type at least 3 characters"]]
    </div>
   <div>
        <p><br /><i>Random artworks from the collection of Pharos.</i></p>
        <semantic-carousel
			query="
			prefix person: <http://example.com/person/>
			prefix org: <http://example.com/org/>
			SELECT distinct ?subject ?thumbnail ?label ?source WHERE {
      VALUES (?subject ?thumbnail ?label ?source) {
      ( <https://collection.itatti.harvard.edu/resource/work/8000841953> <https://ids.lib.harvard.edu/ids/iiif/24235543/full/200%2C/0/native.jpg> 'Adoration of the Magi' 'Villa i Tatti')     
      ( <http://frickcollection.com/work/b10126971> <https://imagesdigitalcollections.frick.org/media/filename/37756_POST.tif> 'Solitude, Home of John Penn' 'Frick')    
      ( <http://foto.biblhertz.it/work/08152578> <http://fotothek.biblhertz.it/bh/320px/bh522170.jpg> 'Vision eines Heiligen' 'Hertziana')
      ( <http://bildarchiv.foto.marburg.com/work/00000190> <http://www.bildindex.de/bilder/d/fm98662> 'Bacchus und Erigone' 'Marburg')
      ( <http://foto.biblhertz.it/work/08180033> <http://fotothek.biblhertz.it/bh/320px/bhex-si-2018-41-003.jpg> 'Apostel Petrus und Paulus' 'Hertziana') 
      ( <http://frickcollection.com/work/b10134128> <https://imagesdigitalcollections.frick.org/media/filename/1665_POST.tif> 'Portrait of a Young Lady' 'Frick')
      ( <http://bildarchiv.foto.marburg.com/work/00000238> <http://www.bildindex.de/bilder/d/fm83157> 'Genuesischer Edelmann' 'Marburg')
      ( <http://foto.biblhertz.it/work/08060287> <http://fotothek.biblhertz.it/bh/320px/bhfd415c51.jpg> 'Palazzo Ducale' 'Hertziana')
      ( <http://foto.biblhertz.it/work/08143553%2CT%2C010> <http://fotothek.biblhertz.it/bh/320px/bhim00033805.jpg> 'Museo Chiaramonti' 'Hertziana')
      ( <https://collection.itatti.harvard.edu/resource/work/8000791844> <https://ids.lib.harvard.edu/ids/iiif/406026622/full/200%2C/0/native.jpg> 'Entombment of Christ' 'Villa i Tatti')
             }
			} "
      options='{ "infinite": false, "slidesToShow": 4 }'
     tuple-template= '
<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:280px;width: 33%;display:inline;">
  <semantic-link class="grid-resource-link" title="{{label.value}}" iri="{{subject.value}}">
  <div class="panel-body" style="height:250px;">
    <div style="width:220px;height:230px;margin: 50px auto;" class="text-center">
      <img src="{{thumbnail.value}}" style="max-height:200px; max-width:200px; margin: 10 auto;" class="img-rounded">
    </div>
  </div>
  <div class="panel-footer" style="position: relative;  border: none;  margin: 20px;">
    <b>{{label.value}}</b> <br> Source: {{source.value}}
  </div>
  </semantic-link>
</div>'>
    </semantic-carousel>    
 </div>
 </div>


<div style="margin-top:50px;">
  <div data-flex-layout="column center-center">
    <div>
       <br>
       <h4>Display Villa I Tatti Artworks (SharedShelf): <a href=https://pharos.artresearch.net/resource/DisplayArtworksVillaITattiSS>here</a></h4>
       <h4>Display Villa I Tatti Photographs (SharedShelf): <a href=https://pharos.artresearch.net/resource/DisplayPhotosVillaITattiSS>here</a></h4>
       <h4>Display Villa I Tatti Artists (SharedShelf): <a href=https://pharos.artresearch.net/resource/DisplayPersonsVillaITattiSS>here</a></h4>
       <h4>Display Villa I Tatti Photographers (SharedShelf): <a href=https://pharos.artresearch.net/resource/DisplayPhotographersVillaITattiSS>here</a></h4>
       <br>
       <h4>Display Villa I Tatti Artworks (FotoIndex): <a href=https://pharos.artresearch.net/resource/DisplayArtworksVillaITattiFI>here</a></h4>
       <h4>Display Villa I Tatti Photographs (FotoIndex): <a href=https://pharos.artresearch.net/resource/DisplayPhotosVillaITattiFI>here</a></h4>
       <h4>Display Villa I Tatti Artists (FotoIndex): <a href=https://pharos.artresearch.net/resource/DisplayPersonsVillaITattiFI>here</a></h4>
       <h4>Display Villa I Tatti Collections (FotoIndex): <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsVillaITattiFI>here</a></h4>
       <br>
       <h4>Display Hertziana Artworks: <a href=https://pharos.artresearch.net/resource/DisplayArtworksHertziana>here</a></h4>
       <h4>Display Hertziana Builtworks: <a href=https://pharos.artresearch.net/resource/DisplayBuiltworksHertziana>here</a></h4>
       <h4>Display Hertziana Photographs: <a href=https://pharos.artresearch.net/resource/DisplayPhotosHertziana>here</a></h4>
       <h4>Display Hertziana Artists: <a href=https://pharos.artresearch.net/resource/DisplayPersonsHertziana>here</a></h4>
       <h4>Display Hertziana Artists (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayPersonsStatsHertziana>here</a></h4>
       <h4>Display Hertziana Collections: <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsHertziana>here</a></h4>
       <h4>Display Hertziana Collections (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsStatsHertziana>here</a></h4>
       <h4>Display Hertziana Photographers: <a href=https://pharos.artresearch.net/resource/DisplayPhotographersHertziana>here</a></h4>
       <h4>Display Hertziana Photographers (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayPhotographersStatsHertziana>here</a></h4>
       <br>
       <h4>Display Frick Artworks: <a href=https://pharos.artresearch.net/resource/DisplayArtworksFrick>here</a></h4>
       <h4>Display Frick Photographs: <a href=https://pharos.artresearch.net/resource/DisplayPhotosFrick>here</a></h4>
       <h4>Display Frick Artists: <a href=https://pharos.artresearch.net/resource/DisplayPersonsFrick>here</a></h4>
       <h4>Display Frick Artists (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayPersonsStatsFrick>here</a></h4>      
       <h4>Display Frick Collections: <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsFrick>here</a></h4>
       <h4>Display Frick Collections (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsStatsFrick>here</a></h4>
       <h4>Display Frick Photographers: <a href=https://pharos.artresearch.net/resource/DisplayPhotographersFrick>here</a></h4>
       <h4>Display Frick Photographers (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayPhotographersStatsFrick>here</a></h4>
       <br>
       <h4><b>Display Zeri Artworks: <a href=https://pharos.artresearch.net/resource/DisplayArtworksZeri>here</a></b></h4>
       <h4>Display Zeri Photographs: <a href=https://pharos.artresearch.net/resource/DisplayPhotosZeri>here</a></h4>
       <h4><b>Display Zeri Artists: <a href=https://pharos.artresearch.net/resource/DisplayPersonsZeri>here</a></b></h4>
       <h4>Display Zeri Collections: <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsZeri>here</a></h4>
       <h4><b>Display Zeri Photographers: <a href=https://pharos.artresearch.net/resource/DisplayPhotographersZeri>here</a></b></h4>
       <br>
       <h4>Display Marburg Artworks: <a href=https://pharos.artresearch.net/resource/DisplayArtworksMarburg>here</a></h4>
       <h4>Display Marburg Photographs: <a href=https://pharos.artresearch.net/resource/DisplayPersonsMarburg>here</a></h4>
       <h4>Display Marburg Artists: <a href=https://pharos.artresearch.net/resource/DisplayPersonsMarburg>here</a></h4>
       <h4>Display Marburg Artists (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayPersonsStatsMarburg>here</a></h4>
       <h4>Display Marburg Collections: <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsMarburg>here</a></h4>
       <h4>Display Marburg Collections (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsStatsMarburg>here</a></h4>
       <h4>Display Marburg Photographers: <a href=https://pharos.artresearch.net/resource/DisplayPhotographersMarburg>here</a></h4>
       <h4>Display Marburg Photographers (with Statistics): <a href=https://pharos.artresearch.net/resource/DisplayPhotographersStatsMarburg>here</a></h4>
       <br>
       <h4>Display KHI Artworks: <a href=https://pharos.artresearch.net/resource/DisplayArtworksKHI>here</a></h4>
       <h4>Display KHI Photographs: <a href=https://pharos.artresearch.net/resource/DisplayPersonsKHI>here</a></h4>
       <h4>Display KHI Artists: <a href=https://pharos.artresearch.net/resource/DisplayArtworksKHI>here</a></h4>
       <h4>Display KHI Collections: <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsKHI>here</a></h4>
       <h4>Display KHI Photographers: <a href=https://pharos.artresearch.net/resource/DisplayPhotographersKHI>here</a></h4>
    </div>
  </div>
</div>
