<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:20px;width: 33%;display:inline;">
<h4 align="center"><b>Artists (Villa i Tatti SharedShelf)</b></h4>
</div>

 <semantic-table 
                query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
											 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 									 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

											 SELECT  $photographer (count(?photo) as ?c)
											 WHERE {
                         
                       ?artwork crm:P16i_was_used_for ?creation .
                       ?creation crm:P92_brought_into_existence ?visual_item .
                       ?visual_item crm:P128i_is_carried_by $photo .
      								 $photo crm:P2_has_type ?type .
     									 ?type rdfs:label "Photograph" .
                         
                       $artwork <http://www.cidoc-crm.org/cidoc-crm/has_source> ?source_uri.
                       ?source_uri rdfs:label "Villa i Tatti".
                         
                       $artwork <http://www.cidoc-crm.org/cidoc-crm/has_sub_source> ?sub_source_uri.
                       ?sub_source_uri rdfs:label "SharedShelf".

                       ?creation crm:P14_carried_out_by ?photographer.
                       ?photographer rdfs:label ?name.
											 } GROUP BY ?photographer ORDER BY DESC(?c)' 
                 
                id="table-result" 
                number-of-displayed-rows= 100
                options='{"showFilter": false, "showTableHeading": true}'
                column-configuration='[
 							  {"variableName": "photographer", "displayName": "Photographer"},
                {"variableName": "c", "displayName": "No. of Artworks"}
                ]'>
</semantic-table>

<br>
<br>