<div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:20px;width: 33%;display:inline;">
<h4 align="center"><b>Collections (Frick)</b></h4>
</div>

 <semantic-table 
                query='PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
											 PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
		 									 PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

											 SELECT  distinct ?collection ?place

											 WHERE {

                        $subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <http://vocab.getty.edu/aat/300133025>.
                        $subject <https://pharos.artresearch.net/custom/has_provider> <https://pharos.artresearch.net/resource/provider/frick/source/1IYHQ66N>.
 
    										?subject crm:P46i_forms_part_of ?collection.
                        ?collection a crm:E78_Curated_Holding .
					
  											} limit 1000' 
                id="table-result"
                number-of-displayed-rows= 100
                options='{"showFilter": false, "showTableHeading": true}'
                column-configuration='[
 							  {"variableName": "collection", "displayName": "Collection"},
                {"variableName": "place", "displayName": "Place"}
                ]'>
</semantic-table>

<br>
<br>