<div>
{{#switch value.binding.graph.value}}
        
  {{#case "http://itatti/" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/itatti.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://fotoindex" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/itatti.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://frick/" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/frick.ico" style="max-height:16px; max-width:16px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://khi/" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/khi.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://federicozeri/" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/zeri.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://marburg/" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/images/marb.png" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
     {{#case "http://hertziana/" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/hertz.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://getty" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="http://viaf.org/viaf/images/flags/JPG.png" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
     {{#case "http://wikidata" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="http://viaf.org/viaf/images/flags/WKP.png" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
  {{#case "http://matches" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/pharos.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
  {{#case "http://matches2" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/pharos.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
  {{#case "http://matches3" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/pharos.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://artists_itatti" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/pharos.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://artists_frick" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/pharos.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
    {{#case "http://artists_zeri" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/pharos.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
  {{#case "http://artists_midas" break=true}}
   <semantic-link uri="{{value.binding.graph.value}}" guess-repository=false>
    <img src="/assets/pharos.ico" style="max-height:50px; max-width:50px; margin: 0 auto;" class="img-rounded">
   </semantic-link> 
   {{/case}}
   {{#default}}
  <semantic-link uri="http://uknown" guess-repository=false></semantic-link> 
   {{/default}}

{{/switch}}
   
</div>