<style>
  .component-page-toolbar{
    display: none;
  }
</style>
<div style="margin-top:5%;">
  <div data-flex-layout="column center-center">
    <div>
       <h2>Welcome to Pharos Digital Collections</h2>
       <br>
       <h4>Display Villa I Tatti Artworks: <a href=https://pharos.artresearch.net/resource/DisplayArtworks>here</a></h4>
       <h4>Display Villa I Tatti Photographs: <a href=https://pharos.artresearch.net/resource/DisplayPhotos>here</a></h4>
       <h4>Display Villa I Tatti Artists: <a href=https://pharos.artresearch.net/resource/DisplayPersons>here</a></h4>
       <h4>Display Villa I Tatti Institutions: <a href=https://pharos.artresearch.net/resource/DisplayInstitutions>here</a></h4>
       <h4>Display Villa I Tatti Places: <a href=https://pharos.artresearch.net/resource/DisplayPlaces>here</a></h4>
       <br>
       <h4>Display Villa I Tatti Artworks (SharedShelf): <a href=https://pharos.artresearch.net/resource//DisplayArtworksSS>here</a></h4>
       <h4>Display Villa I Tatti Photographs (SharedShelf): <a href=https://pharos.artresearch.net/resource/DisplayPhotosSS>here</a></h4>
       <h4>Display Villa I Tatti Artists (SharedShelf): <a href=https://pharos.artresearch.net/resource/DisplayPersonsSS>here</a></h4>
       <h4>Display Villa I Tatti Institutions (SharedShelf): <a href=https://pharos.artresearch.net/resource/DisplayInstitutionsSS>here</a></h4>
       <h4>Display Villa I Tatti Places (SharedShelf): <a href=https://pharos.artresearch.net/resource/DisplayPlacesSS>here</a></h4>
       <br>
       <h4>Display Villa I Tatti Artworks (FotoIndex): <a href=https://pharos.artresearch.net/resource/resource/DisplayArtworksFI>here</a></h4>
       <h4>Display Villa I Tatti Photographs (FotoIndex): <a href=http://83.212.170.77:10214/resource/DisplayPhotosFI>here</a></h4>
       <h4>Display Villa I Tatti Artists (FotoIndex): <a href=http://83.212.170.77:10214/resource/DisplayPersonsFI>here</a></h4>
       <h4>Display Villa I Tatti Institutions (FotoIndex): <a href=http://83.212.170.77:10214/resource/DisplayInstitutionsFI>here</a></h4>
       <h4>Display Villa I Tatti Places (FotoIndex): <a href=http://83.212.170.77:10214/resource/DisplayPlacesFI>here</a></h4>
      
       <br>
       <h4>Display Hertziana Artworks: <a href=http://83.212.170.77:10214/resource/DisplayArtworksHertziana>here</a></h4>
       <h4>Display Hertziana Photographs: <a href=http://83.212.170.77:10214/resource/DisplayPhotosHertziana>here</a></h4>
       <br>
       <h4>Display Frick Artworks: <a href=http://83.212.170.77:10214/resource/DisplayArtworksFrick>here</a></h4>
       <h4>Display Frick Photographs: <a href=http://83.212.170.77:10214/resource/DisplayPhotosFrick>here</a></h4>
       <h4>Display Frick Persons: <a href=http://83.212.170.77:10214/resource/DisplayPersonsFrick>here</a></h4>
       <h4>Display Frick Colletions: <a href=http://83.212.170.77:10214/resource/DisplayCollectionsFrick>here</a></h4>
       <h4>Display Frick Places: <a href=http://83.212.170.77:10214/resource/DisplayPlacesFrick>here</a></h4>
       <br>
       <h4>Display Zeri Artworks: <a href=http://83.212.170.77:10214/resource/DisplayArtworksZeri>here</a></h4>
       <h4>Display Zeri Photographs: <a href=http://83.212.170.77:10214/resource/DisplayPhotosZeri>here</a></h4>
       <br>
       <h4>Display Marburg Artworks: <a href=http://83.212.170.77:10214/resource/DisplayArtworksMarburg>here</a></h4>
       <h4>Display Marburg Photographs: <a href=http://83.212.170.77:10214/resource/DisplayPhotosMarburg>here</a></h4>
    </div>
  </div>
</div>
